.background1 {
  background-image: url("./assets/h1_hero1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.background2 {
  background-image: url("./assets/visit1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
}
